<ion-content class='bg-image no-scroll'>
  <img src="../assets/imgs/logo02.svg" alt="" class='logo'>

  <div>
    <ion-list class='list' inset>
      <ion-item class='label'>
        <ion-label color='myWhite' style='font-size: 12px;' stacked>Username</ion-label>
        <ion-input type='text' placeholder='Enter Username'></ion-input>
      </ion-item>

      <ion-item class='label'>
        <ion-label color='myWhite' style='font-size: 12px;' stacked>Password</ion-label>
        <ion-input color='myWhite' type='password' placeholder='Enter Password'></ion-input>
      </ion-item>
    </ion-list>
  </div>

  <p class='text' style='font-family: open-sans; font-size: 14px; color: #ebebeb'>
    Forgot your password
  </p>

  <div text-center>
    <button class='btnWidth' ion-button color='secondary' round (click)='onClickLoginButton()'>Login</button>
  </div>

  <div text-center>
    <button class='myButton' ion-button color='myWhite' round outline (click)='onClickSignUpButton()'>Sign Up</button>
  </div>

  <!-- <i class="fa fa-facebook fb-button" aria-hidden="true"></i>
  <i class="fa fa-twitter twitter-button" aria-hidden="true"></i> -->
  

</ion-content>
