<ion-header>
  <ion-navbar color='clear'>
    <ion-title>
      <p style='font-family: open-sans;
                font-size: 18px;'>
        Playlist
      </p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Genere & Moods</h3>
  <button class='right' ion-button clear small>
    <p style='font-family: open-sans; font-size: 15px;'>See All</p>
  </button>
  <ion-row>
    <ion-col>
      <img src="../../assets/imgs/grid01.jpg">
      <h4 class='track'>Treading</h4>
      <p class='tracks'>52 Tracks</p>
    </ion-col>
    <ion-col>
      <img src="../../assets/imgs/grid01.jpg">
      <h4 class='track'>Treading</h4>
      <p class='tracks'>116 tracks</p>
    </ion-col>
  </ion-row>

  <hr>
  
  <div class="box">
    <img src="../../assets/imgs/grid01.jpg">
    <div class="player">
      <h4>Alternative</h4>
      <p class="tracks">137 Tracks</p>
    </div>
  </div>

  <ion-row>
    <ion-col>
      <img src="../../assets/imgs/grid01.jpg">
      <h4 class='track'>Travel</h4>
      <p class='tracks'>52 Tracks</p>
    </ion-col>
    <ion-col>
      <img src="../../assets/imgs/grid01.jpg">
      <h4 class='track'>Classical</h4>
      <p class='tracks'>116 tracks</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <img src="../../assets/imgs/grid01.jpg">
      <h4 class='track'>Country</h4>
      <p class='tracks'>52 Tracks</p>
    </ion-col>
    <ion-col>
      <img src="../../assets/imgs/grid01.jpg">
      <h4 class='track'>Hip-hop</h4>
      <p class='tracks'>116 tracks</p>
    </ion-col>
  </ion-row>

  <hr>

  <div class="box">
    <img class='play' src="../../assets/imgs/grid01.jpg">
    <img class='play-menu' src="../../assets/imgs/grid01.jpg">
    <div class="playing">
      <p class='title'>Keep You Head Up</p>
      <p class="subtitle">Ben Howard - Every Kingdom</p>
    </div>
  </div>

  <hr>

</ion-content>