page-intro {
    .bg-image {
        background-image: url('../../assets/imgs/bg03.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .swiper-pagination-bullet-active {
        background: white;
    }

    .padding {
        padding-bottom: 100px;
    }
}
