<ion-content padding>
  <img src="../../assets/imgs/video01.jpg" style='display: block;' (click)='playYoutube()' >
  <img src="../../assets/imgs/video02.jpg.jpg" style='display: block;' (click)='playVimeo()'>
  <img src="../../assets/imgs/video03.jpg.jpg" style='display: block;'>
  <img src="../../assets/imgs/video04.jpg" style='display: block;'>
  <img src="../../assets/imgs/video05.jpg" style='display: block;'>
  <img src="../../assets/imgs/video06.jpg" style='display: block;'>
</ion-content>
